app = "espresso-app"
primary_region = "iad"

[http_service]
auto_start_machines = true
auto_stop_machines = true
force_https = true
internal_port = 8080
min_machines_running = 0
processes = [ "app" ]
[http_service.http_options]
idle_timeout = 600

[[vm]]
size = "shared-cpu-1x"
memory = "1gb"

[build]
dockerfile = "Dockerfile"
ignorefile = ".dockerignore"

[env]
APP_NAME = "Beans"
OTEL_SERVICE_NAME = "ESPRESSO-WEB"
BASE_URL = "https://espresso.cafecito.tech"
DB_NAME = "espresso"
MODE = "maintenance"
