icecream
slack-bolt
pydantic
nicegui
fastapi[standard]
motor
retry
authlib
starlette
pyjwt
praw
tldextract
openai
azure-servicebus
humanize
memoization
azure-monitor-opentelemetry
python-dotenv
inflect
sentence-transformers